/* Définition des variables CSS */
:root {
  --primary-color: #3498db;
  --secondary-color: #ececec;
  --background-color: #f5f5f5;
  --text-color: #2c3e50;
  --white-color: #ffffff;
  --border-color: #bdc3c7;
  --hover-color: #2980b9;
  --hover-text-color: #ffffff;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition-duration: 0.3s;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition-duration);
}

header:hover {
  background-color: var(--hover-color);
}

input {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration), box-shadow var(--transition-duration);
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
}

main {
  display: flex;
  padding: 0 20px;
}

aside {
  width: 200px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

nav ul li a:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}

section {
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-duration);
}

th, td {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

th {
  background-color: var(--secondary-color);
  text-align: left;
  color: var(--white-color);
}

tr:nth-child(even) {
  background-color: var(--background-color);
}

tr:hover {
  background-color: var(--secondary-color);
}

td strong {
  color: var(--primary-color);
}

td[colspan="2"] {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2em;
  text-align: left;
  padding: 10px;
  border: none;
}

td[colspan="2"] strong {
  color: var(--white-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  aside {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  input {
    width: calc(100% - 20px);
    margin: 10px;
  }

  table {
    font-size: 0.9em;
  }
}